<div class="min-h-screen flex flex-col items-center justify-center  text-black p-6 text-center bg-[#63e] ">
  
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-16 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidenav">
  <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 ">
      <ul class="space-y-2">
          <li>
              <a href="/home" class="inline-flex justify-center items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100  group">
                  <i class="pi pi-angle-left text-lg text-gray-500  "></i>
              </a>
          </li>
          <li>
              <a href="/todos" class="inline-flex justify-center items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100  group">
                  <i class="pi pi-check-square text-lg text-gray-500 "></i>
              </a>
          </li>
          <li>
              <a href="/todos/overview" class="inline-flex justify-center items-center p-2 text-base font-normal text-gray-900 rounded-lg  hover:bg-gray-100  group">
                  <i class="pi pi-chart-scatter text-lg text-gray-500 "></i>
              </a>
          </li>
      </ul>
      <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 ">
          <li>
              <a href="#" class="inline-flex justify-center items-center p-2 text-base font-normal text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100   group">
                  <i class="pi pi-plus text-lg text-gray-500 "></i>
              </a>
          </li>
          
      </ul>
  </div>
  <div class="hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white  z-20 border-r border-gray-200 ">
      <a href="#" class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer  hover:text-gray-900  hover:bg-gray-100 ">
          <i class="pi pi-question text-xl"></i>
      </a>
  </div>
</aside>

  
    
    
  
  
</div>
